.pagination{
    width: 100%;
    background-color: rgb(216, 65, 95);
    font-size: 40px;

    display: flex;
    flex-direction: row-reverse;

    position: fixed;
    bottom: 0;
}

.pages{
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    display: flex;
    justify-content: space-evenly;
}

.active{
    color: rgb(41, 172, 201);
}

.num:hover{
    cursor: pointer;
}

@media (max-width: 759px){
    .pagination{
        font-size: 20px;
    }

    .pages{
        width: 30%;
    }
}